name: Build Jolt JNI

on: [push, workflow_dispatch]

jobs:
  # --- LINUX ---
  Linux64:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      
      - uses: gradle/actions/setup-gradle@v3
      
      - uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-query-version: 1.4.341.1
          vulkan-use-cache: true

      - name: Build Linux
        run: ./gradlew -Ptarget=Linux64 -PuseVK=yes build --console=plain

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jolt-jni-linux
          path: |
            build/libs/*.jar
            build/**/*.so

  # --- WINDOWS ---
  Windows64:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      
      - uses: gradle/actions/setup-gradle@v3

      - uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-query-version: 1.4.341.1
          vulkan-use-cache: true

      - name: Build Windows
        shell: bash
        run: ./gradlew -Ptarget=Windows64 -PuseVK=yes build -x checkstyleMain -x checkstyleTest --console=plain

      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jolt-jni-windows
          path: |
            build/libs/*.jar
            build/**/*.dll

  # --- MACOS ---
  MacOSX64:
    runs-on: macos-13 # Intel mac
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      
      - uses: gradle/actions/setup-gradle@v3

      - name: Build MacOS
        run: ./gradlew -Ptarget=MacOSX64 build -x checkstyleMain -x checkstyleTest --console=plain

      - name: Upload Mac Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jolt-jni-macos
          path: |
            build/libs/*.jar
            build/**/*.dylib